<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088643327436-s277d572o2s9492d8aji09lcogfdqr1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088643327436-s277d572o2s9492d8aji09lcogfdqr1d</string>
	<key>API_KEY</key>
	<string>AIzaSyB6-6a6WYOhBsTvtUZZkxonqPouJPvLMdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1088643327436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-flutter-eeaf7</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-flutter-eeaf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088643327436:ios:bd7a587e3fff550d39a969</string>
	<key>DATABASE_URL</key>
	<string>https://brew-crew-flutter-eeaf7.firebaseio.com</string>
</dict>
</plist>